<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>web app</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<script type="text/javascript" src="/js/jquery.min.js"></script><%# 'courses/_coursesModal,モーダルに必要 %> 
	<script type="text/javascript" src="/js/bootstrap.min.js"></script><%# 'courses/_coursesModal,モーダルに必要 %>
	<script type="text/javascript" src="/js/recipeApp.js"></script><%# 'courses/_coursesModal,モーダルに必要,上記2つのレイアウトのあとに挿入する必要あり %> 
	<script src="/socket.io/socket.io.js"></script><%# socket.ioの読み込み %> 
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/recipe_app.css">
</head>

<%# body置き換えの共有ページ %>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">web app</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/"> <!--パス指定でリンク貼れるのね-->
				<span class="button">Home</span>
			</a>
			<a href="/courses">
				<span class="button">Cooking Courses</span>
			</a>
			<a href="/contact">
				<span class="button">Contact</span>
			</a>
			<%- include('courses/_coursesModal')%> <%# _ciursesModalのパーシャル,今回はbootstrapCDN,jQueryを使用している(必要な素材はjsフォルダの,bootstrap.min.js,jquery.min.js,モーダルのレイアウトは別styleで学習する必要あり)
			モーダルにデータを与えるためにpublic/jsフォルダにrecipeAppjsが必要 %> 
		</div> 
		<%# ユーザーがログインしているか？ %> 
		<div class="login-status">
			<% if (loggedIn) { %>
			<div class="bubble logged-in">
				現在のログインユーザー： <a href="<%=`/users/${currentUser._id}`%>"> <%# 誰がログインしているかわかる %> 
					<%= currentUser.fullName %></a>
			</div>
			<div class="log-out">
				<a href="/users/logout">Log out</a>
			</div>
			<%# それ以外はログインのリンクを表示させる %> 
			<%} else {%>
			<div class="bubble log-in">
				<a href="/users/login">Log In</a>
			</div>
			<% } %>
		</div>
	</div>

<%# フラッシュメッセージの表示区域, フラッシュメッセを設定してれば、いつでもlayout.ejsで表示させれるようにしておく %> 
	<div class="flashes">
		<% if (flashMessages) { %> <%# ローカル変数.res.local.flashMessages %> 
		<% if (flashMessages.success) { %> <%# 成功した場合 %> 
		<div class="flash success">
			<%= flashMessages.success %>
		</div>
		<% } else if (flashMessages.error) { %> <%# 失敗した場合 %> 
		<div class="flash error">
			<%= flashMessages.error %>
		</div>
		<% } %>
		<% } %>
	</div>

	<div class="container">
		<%- body %>
	</div>

</body>

</html>
