<h2 class="center">Subscribers Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% subscribers.forEach(subscriber => { %> <%# ループ処理/順番にデータを取得していく/購読者ごとの生成 %> 
    <tr>
      <td>
        <a href="<%= `/subscribers/${subscriber._id}` %>">
          <%= subscriber.name %>
        </a>
      </td>
      <td>
        <%= subscriber.email %>
      </td>
      <td>
        <a href="<%=`subscribers/${subscriber._id}/edit`%>"> <%# リンク/経路 %> 
          編集しましょ
        </a>
      </td>
      <td>
        <a href="<%= `subscribers/${subscriber._id}/delete?_method=DELETE` %>" onclick="return confirm('このレコードを削除しても良いですか？')">削除</a> <%# リンク/経路/ダイアログ %> 
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
