<h2 class="center">ユーザー,一覧</h2>
<div class="center">
  <a class="button" href="/users/new">Create User</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!--ビューの中で、ユーザーの配列をループする-->
    <% users.forEach(user => { %>
    <tr>
      <td><%# ユーザーの名前とIDを、HTMLに埋め込む %>
        <a href="<%= `/users/${user._id}` %>">
          <%= user.fullName %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipCode %>
      </td>
       <td>
      <%# 編集用のタグにユーザーのIDを埋め込む %> 
        <a href="<%=`/users/${user._id}/edit`%>">
          編集
        </a>
      </td>
      <td>
    </tr>
    <% }); %>
  </tbody>
</table>


<%# // 3 (indexの経路)
main.jsの/usersパスを叩くと、 
usersController.jsのindex実行し、
Userに基づき、modelsの設計図を使って、
DBusersにある情報を取得しindex.ejsで指定された情報のみページに表示する。
%> 